<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AMQPNetLite.Core" version="2.4.0" targetFramework="net462" />
  <package id="Apache.NMS" version="1.8.0" targetFramework="net462" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net462" />
  <package id="Apache.NMS.AMQP" version="1.8.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.1" targetFramework="net462" />
</packages>